/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #30694B;
  color: white;
  padding: 0 15px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.navbar h1 {
  font-size: 2rem;
  font-family: 'Bree Serif', serif;
  color: white;
}
.navbar .buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.navbar .buttons a {
  display: none;
  width: 100px;
  height: 50px;
  border-radius: 15px;
}
@media (min-width: 800px) {
  .navbar .buttons a {
    display: inline-block;
    text-align: center;
    padding-top: 17px;
    text-decoration: none;
    color: white;
    margin: 3px;
    font-size: 1.5rem;
  }
}
.navbar .buttons img {
  width: 50px;
  border-radius: 10px;
}
@media (min-width: 800px) {
  .navbar .buttons img {
    display: none;
  }
}
.navbar .buttons:hover {
  cursor: pointer;
}
.dropdown {
  background-color: #30694B;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}
@media (min-width: 800px) {
  .dropdown {
    display: none;
  }
}
.dropdown a {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  margin-right: 5px;
  padding-top: 11px;
  text-align: center;
  border-radius: 10px;
  height: 40px;
  width: 80px;
}
.dropdown a:hover {
  cursor: pointer;
}
.no-show {
  display: none;
}
.animation {
  animation: dropdownAnimation 50ms ease;
}
@keyframes dropdownAnimation {
  0% {
    top: -60px;
  }
  100% {
    top: 0px;
  }
}
.cta {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  display: block;
}
@media (min-width: 800px) {
  .cta {
    max-width: 800px;
    height: 550px;
  }
}
@media (min-width: 1000px) {
  .cta {
    width: 100%;
  }
}
.cta img {
  width: 100%;
  height: 100%;
  max-width: 800px;
  font-size: 2.75rem;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 800px) {
  .cta img {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.cta .cta-text {
  position: relative;
  height: 100%;
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
@media (min-width: 800px) {
  .cta .cta-text {
    margin: 0;
  }
}
.cta .cta-text h2 {
  font-size: 9vw;
  margin: 10px 0;
}
@media (min-width: 800px) {
  .cta .cta-text h2 {
    font-size: 7rem;
  }
}
.cta .cta-text h3 {
  font-size: 4vw;
  margin: 10px 0;
}
@media (min-width: 800px) {
  .cta .cta-text h3 {
    font-size: 3rem;
  }
}
.cta .cta-text button {
  background-color: white;
  border: 1px solid black;
  font-size: 2rem;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  margin-top: 20px;
}
.cta .cta-text button:hover {
  cursor: pointer;
}
.details {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 40px;
}
@media (min-width: 800px) {
  .details {
    margin-top: 60px;
    border-top: 1px dashed black;
  }
}
@media (min-width: 1000px) {
  .details {
    flex-flow: row nowrap;
  }
}
.details section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 60px 20px 0 20px;
  background-color: #D2E8D3;
  border: 1px solid #E8E8E8;
  text-align: center;
}
@media (min-width: 800px) {
  .details section {
    flex-flow: row nowrap;
    padding: 5px;
  }
}
@media (min-width: 1000px) {
  .details section {
    flex-flow: column nowrap;
    width: 30%;
  }
}
@media (min-width: 800px) {
  .details .opposite {
    flex-flow: row-reverse nowrap;
  }
}
@media (min-width: 1000px) {
  .details .opposite {
    flex-flow: column nowrap;
  }
}
.details img {
  width: 65%;
  max-width: 500px;
  border-radius: 50%;
  margin-top: 20px;
}
@media (min-width: 800px) {
  .details img {
    margin: 0 30px;
    width: 40%;
  }
}
@media (min-width: 1000px) {
  .details img {
    width: 70%;
  }
}
.details h3 {
  font-size: 4rem;
  font-weight: bold;
  margin: 30px auto;
  text-align: center;
}
@media (min-width: 1000px) {
  .details h3 {
    height: 80px;
    font-size: 3.8rem;
  }
}
.details p {
  font-size: 2.5rem;
  margin-bottom: 20px;
  line-height: 1.2;
  padding: 0 10px;
  text-align: justify;
  text-justify: distribute;
}
.download-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
@media (min-width: 800px) {
  .download-links {
    margin: 40px 0;
    justify-content: center;
  }
}
@media (min-width: 800px) {
  .download-links a {
    margin: 0 20px;
  }
}
.download-links:hover {
  cursor: pointer;
}
footer {
  margin-top: 60px;
  height: 60px;
  width: 100%;
  background-color: #30694B;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
footer h6 {
  padding-top: 30px;
}
.home {
  text-decoration: none;
}
.home:hover {
  cursor: pointer;
}
.title {
  font-size: 4rem;
  text-align: center;
  margin: 20px;
}
.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 1000px;
  margin: 20px auto;
}
.content .card {
  width: 250px;
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}
.content .card .ghProfPic {
  height: auto;
  width: auto;
  max-width: 175px;
  max-height: 175px;
}
.content .card h2 {
  font-size: 2rem;
  margin: 2px 0;
}
.content .card h4 {
  font-size: 1.5rem;
}
.content .card .githubLinkImage {
  height: auto;
  width: auto;
  max-width: 20px;
  max-height: 20px;
  margin-top: 10px;
}
.content .card .githubLinkImage:hover {
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Heebo', sans-serif;
  background: white;
}
@media (min-width: 800px) {
  .container :not('.navbar') {
    margin: 0 20px;
  }
}
