//cta less

.cta {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    display: block;

    @media (min-width:800px) {
        max-width: 800px;
        height: 550px;        
    }

    @media (min-width:1000px) {
        width: 100%;
    }


    img {
        width: 100%;
        height: 100%;
        max-width: 800px;
        font-size: 2.75rem;
        position: absolute;
        top: 0;
        left: 0;

        @media (min-width:800px) {
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
        }        
        
    }

    .cta-text {
        position: relative;
        height: 100%;
        width: 60%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: flex-start;

        @media (min-width:800px) {
            margin: 0;
        }
        

        h2{
            font-size: 9vw;
            margin: 10px 0;

            @media (min-width:800px) {
                font-size: 7rem;                
            }
        }

        h3 {
            font-size: 4vw;
            margin: 10px 0;

            @media (min-width:800px) {
                font-size: 3rem;    
            }
        }


        button {
            background-color: white;
            border: 1px solid black;
            font-size: 2rem;
            height: 50px;
            width: 150px;
            border-radius: 10px;
            margin-top: 20px;

        }

        button:hover {
            cursor: pointer;
        }

    }
}