//cta less

.cta {
    position: relative;
    margin: 0 auto;
    // left: 10%;

    img {
        width: 100%;
        max-width: 800px;
        font-size: 2.75rem
        
    }

    .cta-text {
        position: absolute;
        height: 100%;
        width: 60%;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        

        h2{
            font-size: 10vw;
            margin: 10px 0;
        }

        h3 {
            font-size: 5vw;
            margin: 10px 0;
        }

        button {
            background-color: white;
            border: 1px solid black;
        }

    }
}