//header less

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: @middle-green;
    color: white;
    // height: 54px;
    padding: 0 15px;
    width: 100%;
    position: relative;
    z-index: 2;
    // box-shadow: 0 4px 1px -2px darkgray;

    h1 {
        font-size: 2rem;
        font-family: 'Bree Serif', serif;
        color: white
    }

    
    .buttons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;


        a {
            display: none;
            width: 100px;
            height: 50px;
            border-radius: 15px;

            @media (min-width:800px) {
                display: inline-block;
                text-align: center;
                padding-top: 17px;
                text-decoration: none;
                color: white;
                margin: 3px;
                font-size: 1.5rem;
                

            }
        }

        img {

            width: 50px;
            border-radius: 10px;

            @media (min-width:800px) {
                display: none;
            }
        }
        
    }

    .buttons:hover {
        cursor: pointer;
    }
    
}

.dropdown {
    background-color: @middle-green;
    position: relative;
    display:flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    position: relative;
    z-index: 1;

    @media (min-width:800px) {
        display: none;
    }

    a {
        display: block;
        text-decoration: none;
        font-size: 1.5rem;
        color: white;
        margin-right: 5px;
        padding-top: 11px;
        text-align: center;
        border-radius: 10px;
        height: 40px;
        width:80px;
    }
    
    a:hover {
        cursor: pointer;
    }

}



.no-show {
    display: none;
    
}

.animation {
    animation: dropdownAnimation 50ms ease;
}

//slide down effect 
@keyframes dropdownAnimation {
    0%{top: -60px}
    100%{top: 0px}
}